<div class="container-fluid">
    <div class="row">
    <div class="col m-3 p-2">
    <h1 class="mb-2">Image number {{image.id}}</h1>
    <img src=>
    {{image.data}} 




    <a href="/">â† Back To Home</a>
   

    

       
    </div>
    </div>
 </div>