<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

  #target {
    width: 345px;
  }
</style>


<div id="colorlib-page">
  <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>

  <aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
    <h1 id="colorlib-logo"><a href="/upload"><span class="flaticon-camera"></span>sKreet Art</a></h1>
    <nav id="colorlib-main-menu" role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/map">Map</a></li>
        <li class="colorlib-active"><a href="/upload">Upload</a></li>
      </ul>
    </nav>

    <div class="colorlib-footer">
      <h3>Check out our Repo!</h3>
      <div class="d-flex justify-content-center">
        <ul class="d-flex align-items-center">

          <li class="d-flex align-items-center jusitfy-content-center"><a
              href="https://github.com/dcoco1890/sturdy-guac" target="_blank"><i class="icon-github"></i></a></li>
        </ul>
      </div>
    </div>
  </aside>
  <!-- END COLORLIB-ASIDE -->



  <div id="colorlib-main">

    <section class="ftco-section-1">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-md d-flex">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="mapBox" class="bg-light"></div>
          </div>
        </div>
        <div class="row no-gutters mt-4 mx-4">
          <h4>1 - Click the map to drop a pin</h4>
          <h6 style="padding-left: 4em;">The pins location should be as close as possible to the actual location of the street art. We want to know
            what side of the building the piece is on. Be specific!</h5>
        </div>
      </div>
    </section>

    <section class="ftco-section-2" style="margin-bottom: 4rem;">

      <div class="row no-gutters mx-4">
        <div class="col-6">
        <h4>2 - Choose Image</h4>
          <form action="POST" enctype="multipart/form-data" id="file">
          <input type="file" accept="image/*" name="photo" class="btn btn-outline-success">
        </form>
        <h4 class="mr-2">3 - Submit results!</h4>
        <button id="submit" class="btn btn-outline-success">Submit</button>
        </div>

        <div class="col-6">
          <h4 id="u-sure"></h4>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="preview"
          style="max-width: 250px;">
        </div>
      </div>

    </section>
    <section class="ftco-section-3">
      <h4>s</h4>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section" style="padding: 2em 0;">
      <div class="container px-md-5">
        <div class="row">
          <div class="col-md-12">

            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This
              template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- END COLORLIB-MAIN -->
</div><!-- END COLORLIB-PAGE -->

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>


<!-- google maps API -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk6RgNoC59QTOm8lvzwWh99vfU9pV6VEQ&libraries=places&callback=initAutocomplete"></script>


<!-- jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- jquery-migrate -->
<script src="https://cdn.jsdelivr.net/npm/jquery-migrate@3.1.0/dist/jquery-migrate.min.js"
  integrity="sha256-91c9XEM8yFH2Mn9fn8yQaNRvJsEruL7Hctr6JiIY7Uw=" crossorigin="anonymous"></script>
<!-- popper -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.15.0/dist/umd/popper.min.js"
  integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
<!-- jquery.easing -->
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.js"
  integrity="sha256-tw5/wId1F+4LyUF2ZJnpRoHNXJ66jrK3IGhfq4LhLjY=" crossorigin="anonymous"></script>
<!-- jquery.waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- jquery.stellar -->
<script src="https://cdn.jsdelivr.net/npm/jquery.stellar@0.6.2/jquery.stellar.js"
  integrity="sha256-yv3HV4PGYVVN8MVB/2YRgbXgntRArNmMuwPV4KeL3qc=" crossorigin="anonymous"></script>
<!-- owl carousel -->
<script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"
  integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<!-- jquery.magnific-popup -->
<script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"
  integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
<!-- animate on scroll -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"
  integrity="sha256-pQBbLkFHcP1cy0C8IhoSdxlm0CtcH5yJ2ki9jjgR03c=" crossorigin="anonymous"></script>
<!-- jquery.animateNumber -->
<script src="https://cdn.jsdelivr.net/npm/jquery.animate-number@0.0.14/jquery.animateNumber.min.js"
  integrity="sha256-GCAeRKCXFEtLTZ+gG1SCIrtGkYq1zZjMXkj+XUFNJqo=" crossorigin="anonymous"></script>
<!-- bootstrap datepicker -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"
  integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<!-- jquery.timepicker -->
<script src="https://cdn.jsdelivr.net/npm/jquery-timepicker@1.3.3/jquery.timepicker.js"
  integrity="sha256-ZEFHMstKm4uJuA95aFxPyq4WI6R019HkdKH5BraYLSI=" crossorigin="anonymous"></script>
<!-- scrollax -->
<script src="https://cdn.jsdelivr.net/npm/scrollax@1.0.0/scrollax.min.js"
  integrity="sha256-78XlHuE+x1oE3jMGeHoIsRro1NJVjN6q/nzTNyD/y9o=" crossorigin="anonymous"></script>
<script src="/js/gallery.js"></script>
<script src="/js/map.js"></script>