<div id="map">

    <div class="container">
        <div class="row">
            <div class="col">

                <h1>SKREET MAP</h1>

                <div id="mapBox" class="my-4">
                    <div id="searchBoxMap">
                        <input id="searchTxtMap" type="text" placeholder="Search for an area or ZIP code">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('mapBox'), {
            center: { lat: 37.5407, lng: -77.4360 },
            zoom: 8
        });
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX89pxA8LX8xh_F3a-186n_x1vyWk-yVM&callback=initMap" async defer></script>