<div id="map">

    <div class="container">
        <div class="row">
            <div class="col">

                <h1>SKREET MAP</h1>

            </div>
        </div>
    </div>
</div>

<script src="/public/js/map.js"></script>