<div id="map">

    <div class="container">
        <div class="row">
            <div class="col">

                <h1>SKREET MAP</h1>

                <div id="mapBox" class="my-4">
                    <div id="searchBoxMap">
                        <input id="searchTxtMap" type="text" placeholder="Search for an area or ZIP code">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <script type="text/javascript">

let map;

function initMap() {
    map = new google.maps.Map(document.getElementById('mapBox'), {
        center: { lat: 37.5407, lng: -77.4360 },
        zoom: 8
    });
}

</script> --}}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk6RgNoC59QTOm8lvzwWh99vfU9pV6VEQ&callback=initMap"></script>
<script type="text/javascript" src="/js/map.js"></script>