<div class="container-fluid" style="height: 100vh">
    <div class="row">
        <div class="col">
            <div class="outer">

                <div class="row">
                <div class="col">
                    <h4 class="text-center mt-3">REMOVE IMAGE</h4>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-6 d-flex flex-row justify-content-center">

                        <form action="DELETE" id="del-form">
                             <input type="number" id="id-del" name="quantity" min="1">
                        </form>

                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-sm btn-outline-danger btn-block" id="del-id">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/remove.js"></script>