a:hover {
    text-decoration: none
}

#mapBox {
    height: 400px;
}

.list-group-item {
    line-height: 2.5;
}

header {
    position: absolute;
    background-image: url("../images/adi-goldstein-Yv4Sqy15B24-unsplash.jpg");
    /* Photo by Adi Goldstein on Unsplash */
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#circle {
    width: 220px;
    height: 75px;
    background: white;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
}

h1 {
    margin: auto;
    vertical-align: middle;
    padding-top: 10px;
}

.summary_div {
    background-color: rgb(245, 247, 226);
    margin-top: 440px;
    text-align: center;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

h4#u-sure {
    padding: 10px;
}

@media only screen and (max-width: 640px) {
    body {
        background-color: rgba(81, 91, 77, .7);
    }
    .summary_div {
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 2px;
        padding: 9px;
    }
    #circle {
        margin-top: 150px;
    }
    form#file {
        display: flex;
        flex-direction: column;
    }
    h1.mb-2 {
        text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
    }
    input.btn.btn-outline-info {
        background-color: rgba(40, 125, 146, 0.6);
        color: #f3f3f3;
        border: none;
        text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .25);
    }
    a {
        text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
    }
    button#submit.btn.btn-outline-primary {
        margin-top: 2rem;
        background-color: rgba(40, 125, 146, 0.6);
        color: #f3f3f3;
        border: none;
        width: 15em;
        text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .25);
    }
}